
CookieRun/.vs/CookieRun/v16/Server/sqlite3/db.lock
CookieRun/.vs/CookieRun/v16/Server/sqlite3/storage.ide
CookieRun/.vs/CookieRun/v16/Server/sqlite3/storage.ide-wal
CookieRun/.vs/CookieRun/v16/Server/sqlite3/storage.ide-shm
CookieRun/.vs/CookieRun/v16/.suo
